<p id="notice"><%= notice %></p>

<h1>Seeds</h1>

<table>
  <thead>
    <tr>
      <th>シード名</th>
      <th>発案者</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= seed.title %></td>
        <td><%= seed.owner %></td>
        <td><%= seed.user.name %></td>
        <% if current_user == seed.user_id %>
        <td><%= link_to '詳細', seed %></td>
        <td><%= link_to '編集', edit_seed_path(seed) %></td>
        <td><%= link_to '削除', seed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' シードを投稿する ', new_seed_path %>
<%= link_to ' アイディア一覧 ', ideas_path %>
