
<p>
  <strong>シード名:</strong>
  <%= @seed.title %>
</p>

<p>
  <strong>発案者:</strong>
  <%= @seed.owner %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @seed.user.name %>
</p>

<%= link_to ' 編集 ', edit_seed_path(@seed) %> |
<%= link_to ' 戻る ', seeds_path %>
